{% extends 'base.html' %}
{% block title %} About {% endblock %}

{% block body %}
    <div class="about-section">
        <h1 class="section-title">À propos d'INFOWARE COMPANY</h1>
        <div class="content-box">
            <p>Chez <strong>INFOWARE COMPANY</strong>, nous sommes passionnés par la garantie de la <strong>performance</strong> et de la <strong>durabilité</strong>  de votre infrastructure informatique. Fondée sur une expertise solide en maintenance de matériel, notre entreprise est votre partenaire de confiance pour assurer le bon fonctionnement de vos outils de travail essentiels. Nous sommes spécialisés dans le diagnostic, la réparation et l'entretien préventif d'une gamme variée d'équipements, notamment les <strong>ordinateurs (UC)</strong>, les <strong>imprimantes</strong> et les <strong>onduleurs</strong>. Notre mission est de <strong> minimiser les temps d'arrêt</strong> et de maximiser votre productivité en vous offrant des solutions de maintenance rapides, fiables et personnalisées. Choisissez INFOWARE COMPANY pour une tranquillité d'esprit numérique, sachant que votre matériel est entre les mains d'experts dédiés à la qualité et à l'efficacité.</p>
        </div>
    </div>
{% endblock %}