{% extends 'base.html' %}
{% block title %} Administration {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center my-3">
            <h2>Administration</h2>
        </div>
        <form class="col-4 offset-4" method="POST">
            <div class="mb-3">
              <label for="nom" class="form-label">Nom :</label>
              <input type="text" class="form-control" id="nom" name="name" >
            </div>
            <div class="mb-3">
              <label for="pw" class="form-label">Mot de passe :</label>
              <input type="password" class="form-control" id="pw" name="pw">
            </div>
            <button type="submit" class="btn btn-primary">Entrer</button>
          </form>
    </div>
</div>
{% endblock %}