{% extends 'base.html' %}
{% block title %} Tableau de bord {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12  my-3">
            <div class="text-center">
                <h2>Tableau de bord</h2>

                <p>Bienvenue, {{ name }}, sur le tableau de bord de l'administrateur. <a class="mx-3 btn btn-primary" href="{{ url_for('admin.logout') }}"">Déconnecter</a></p>
            </div>
            
            <div class="container">
                <p><a href="{{url_for('dashbord.manage_users')}}">Gérer les Utilisateurs</a></p>
                <p><a href="#">Gérer les marques</a></p>
                <p><a href="#">Gérer les type de material</a></p>
                <p><a href="#">Gérer les materials</a></p>
                <p><a href="#">Gérer les interventions</a></p>
            </div>
            

        </div>
    </div>
</div>
{% endblock %}