{% extends 'base.html' %}
{% block title %} Tableau de bord {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12  my-3">
            <div class="text-center">
                <h2>Tableau de bord</h2>

                <p>Bienvenue, {{ name }}, sur le tableau de bord de l'administrateur. <a class="mx-3 btn btn-primary" href="{{ url_for('admin.logout') }}"">Déconnecter</a></p>
            </div>
            
            <div class="container col-8 text-center">
                <p><a href="{{url_for('dashbord.manage_users')}}" class="col-6 btn btn-primary">Gérer les Affectation</a></p>
                <p><a href="{{url_for('materialTypes.manage_MaterialTypes')}}" class="col-6 btn btn-primary">Gérer les type de material</a></p>
                <p><a href="{{url_for('marques.manage_Marques')}}" class="col-6 btn btn-primary">Gérer les marques</a></p>   
                <p><a href="#" class="col-6 btn btn-primary">Gérer les materials</a></p>
                <p><a href="#" class="col-6 btn btn-primary">Gérer les interventions</a></p>
            </div>
            

        </div>
    </div>
</div>
{% endblock %}