{% extends 'base.html' %}
{% block title %} Tableau de bord-Gestion utilisateurs {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12  my-3">
            <div class="text-center">
                <h2>Gestion utilisateurs</h2>
                <p>Bienvenue, {{ name }}, sur la gestion utilisateurs. <a class="mx-3 btn btn-primary" href="{{ url_for('admin.logout') }}"">Déconnecter</a></p>
                <p><a href="{{ url_for('dashbord.dashbord_page') }}">Retour au tableau de bord</a></p>
            </div>
            
            <div class="container col-8 text-center">
                <p><a href="{{ url_for('arrondissement.manage_Arrondissements') }}" class="col-6 btn btn-success">Ajout des Arondissements</a></p>
                <p><a href="{{ url_for('departement.manage_Departements') }}" class="col-6 btn btn-success">Ajout des Département</a></p>
                <p><a href="{{ url_for('utilisateur.manage_Utilisateurs') }}" class="col-6 btn btn-success">Ajout des Utilisateurs</a></p>  
            </div>
            

        </div>
    </div>
</div>
{% endblock %}