{% extends 'base.html' %}
{% block title %} Tableau de bord - Ajout Matèrial {% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12  my-3">
            <div class="text-center">
                <h2>Ajout Matèrial</h2>
                <p>Bienvenue, {{ name }}, sur la page d'ajout Matèrial. <a class="mx-3 btn btn-primary" href="{{ url_for('admin.logout') }}"">Déconnecter</a></p>
                <p><a href="{{ url_for('dashbord.dashbord_page') }}">Retour au Tableau de bord</a> </p>
            </div>

            <div class="container">
                    <h4>Utilisateur du matérial</h4>

                    <form method="POST" action=""   id="arrondissementForm">
                    <div class="mb-3">
                        <select class="form-control" id="arondissementId" name="arondissementId">
                        <option value="-1" disabled {% if not submitted %} selected {% endif %}>Choisir un arrondissement</option>
                        {% for arondissement in arrondissements %}
                            <option value="{{ arondissement.id }}" {% if selected_arrondissement == arondissement.id %} selected {% endif %}>{{ arondissement.arondissement }}</option>         
                        {% endfor %}
                        </select>
                    </div>
                    </form>
                    

                    {% if not departements %}
                        <p class="text-danger">Aucun département disponible</p>
                    {% else %}
                    <form method="POST" action=""   id="departementForm">
                    <div class="mb-3">
                        <input type="hidden" name="arrondissementName1" value="{{ selected_arrondissement }}">
                        <select class="form-control" id="DepartementId" name="DepartementId">
                        <option value="-1" disabled {% if not submitted %} selected {% endif %}>Choisir un departement</option>
                        {% for departement in departements %}
                            <option value="{{ departement.id }}" {% if selected_Departement == departement.id %} selected {% endif %}>{{ departement.departement }}</option>         
                        {% endfor %}
                        </select>
                    </div>
                    </form>
                    {% endif %}
                    
                    {% if not utilisateurs %}
                        <p class="text-danger">Aucun utilisateur disponible</p>
                    {% else %}
                    <form method="POST" action=""   id="userForm">
                    <div class="mb-3">
                        <input type="hidden" name="arrondissementName1" value="{{ selected_arrondissement }}">
                        <input type="hidden" name="departementName1" value="{{ selected_Departement }}">
                        <select class="form-control" id="UserId" name="UserId">
                        <option value="-1" disabled {% if not submitted %} selected {% endif %}>Choisir un utilisateur</option>
                        {% for utilisateur in utilisateurs %}
                            <option value="{{ utilisateur.id }}" {% if selected_User == utilisateur.id %} selected {% endif %}>{{ utilisateur.nomUtilisateur }}</option>         
                        {% endfor %}
                        </select>
                    </div>
                    </form>
                    {% endif %}

                {% if utilisateurs and selected_User and selected_User != -1 %}

                    <h4>Modèle du matérial</h4>
                    <form method="POST" action=""   id="typeForm">
                    <div class="mb-3">
                        <input type="hidden" name="arrondissementName1" value="{{ selected_arrondissement }}">
                        <input type="hidden" name="departementName1" value="{{ selected_Departement }}">
                        <input type="hidden" name="UserId1" value="{{ selected_User }}">
                        <select class="form-control" id="TypeId" name="TypeId">
                        <option value="-1" disabled {% if not submitted %} selected {% endif %}>Choisir un type de matériel</option>
                        {% for type in types %}
                            <option value="{{ type.id }}" {% if selected_Type == type.id %} selected {% endif %}>{{ type.typeMaterial }}</option>         
                        {% endfor %}
                        </select>
                    </div>
                    </form>
                    
                <form method="POST" action="{{ url_for('material.manage_Materials') }}">
                    {% if not models %}
                        <p class="text-danger">Aucun modèle disponible</p>
                    {% else %}
                    <div class="mb-3">
                        <select class="form-control" id="ModelId" name="ModelId">
                        <option value="-1" disabled {% if not submitted %} selected {% endif %}>Choisir un Modèl</option>
                        {% for model in models %}
                            <option value="{{ model.id }}" {% if selected_Model == model.id %} selected {% endif %}>{{ model.modelname }}</option>         
                        {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                
                    <h4>Informations sur le matérial</h4>
                    <div class="mb-3">
                        <label for="ort" class="form-label">Numéro invantaire</label>
                        <input type="text" class="form-control" id="ort" name="ort" required>
                    </div>
                    <div class="mb-3">
                        <label for="sn" class="form-label">Numéro de Série</label>
                        <input type="text" class="form-control" id="sn" name="sn" required>
                    </div>
                    <input type="hidden" name="arrondissementName1" value="{{ selected_arrondissement }}">
                    <input type="hidden" name="departementName1" value="{{ selected_Departement }}">
                    <input type="hidden" name="UserId1" value="{{ selected_User }}">
                    <button type="submit"  class="form-control btn btn-success">Ajouter Matérial</button>
                </form>
                {% endif %}
            </div> 

                <div class="container">
                    {% if list %}
                    <h4 class="mt-4">Matériels</h4>
                    <table class="table table-striped  mt-4 ">
                        <thead>
                        <tr>
                          <th scope="col">Numéro invantaire</th>
                          <th scope="col">Numéro de Série</th>
                          <th scope="col">Modèle</th>
                          <th scope="col">Utilisateur</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for material in list %}
                        <tr>
                          <td>{{ material[0].inventaire_number }}</td>
                          <td>{{ material[0].serial_number }}</td>
                          <td> {{ material[2] }} {{ material[3] }} {{ material[1] }}</td>
                          <td>{{ material[4] }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% endif %}
        </div>
    </div>
</div>

<script>
    const arrondissementForm = document.getElementById('arrondissementForm'); 
    document.getElementById('arondissementId').addEventListener('change', function() {
        arrondissementForm.submit();
    });
    const departementForm = document.getElementById('departementForm'); 
    document.getElementById('DepartementId').addEventListener('change', function() {
        departementForm.submit();
    });
    const userForm = document.getElementById('userForm'); 
    document.getElementById('UserId').addEventListener('change', function() {
        userForm.submit();
    });
    const typeForm = document.getElementById('typeForm'); 
    document.getElementById('TypeId').addEventListener('change', function() {
        typeForm.submit();
    });
</script>
{% endblock %}
