{% extends 'base.html' %}
{% block title %} Tableau de bord-Gestion Arondissements {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12  my-3">
            <div class="text-center">
                <h2>Gestion Arrondissements </h2>
                <p>Bienvenue, {{ name }}, sur la gestion Arrondissements. <a class="mx-3 btn btn-primary" href="{{ url_for('admin.logout') }}"">Déconnecter</a></p>
                <p><a href="{{ url_for('dashbord.manage_users') }}">Retour à la page gestion utilisateurs</a> </p>
            </div>
            
            <div class="container">
                <form method="POST">
                    <div class="mb-3">
                        <label for="arrondissementName" class="form-label">Nom de l'arrondissement</label>
                        <input type="text" class="form-control" id="arrondissementName" name="arrondissementName" required>
                    </div>
                    <button type="submit" class="form-control btn btn-success">Ajouter arrondissement</button>  
                </form>
                <table class="table table-striped mt-4 ">
                    <thead>
                        <tr>
                          <th scope="col">Arrondissement</th>
                          <th class="float-end" scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for arrondissement in arrondissements %}
                        <tr>
                          <td>{{ arrondissement.arondissement }}</td>
                          <td>
                            <div class="btn-group float-end" role="group" aria-label="Basic example">
                                <form method="POST" action="{{ url_for('arrondissement.delete_arrondissement', arrondissement_id=arrondissement.id) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet arrondissement ?');">
                                    <a href="{{ url_for('arrondissement.update_arrondissement', arrondissement_id=arrondissement.id) }}" class="btn btn-primary">Modifier</a>
                                    {% if arrondissement.departement | length == 0 %}
                                        <button type="submit" class="btn btn-danger">Supprimer</button> 
                                    {% else %}  
                                        <span class="badge text-bg-warning"> {{ arrondissement.departement | length }} Departements</span>
                                    {% endif %}
                                </form>
                            </div>
                            
                            
                          </td>
                          
                        </tr>
                        {% endfor %}    
                </table>
            </div>
            

        </div>
    </div>
</div>
{% endblock %}