{% extends 'base.html' %}
{% block title %} Tableau de bord - Mise à jour Material {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12  my-3">
            <div class="text-center">
                <h2>Mise à jour Material</h2>
                <p>Bienvenue, {{ name }}, sur la page de mise à jour Material. <a class="mx-3 btn btn-primary" href="{{ url_for('admin.logout') }}"">Déconnecter</a></p>
                <p><a href="{{ url_for('dashbord.dashbord_page') }}">Retour au Tableau de bord</a> </p>
            </div>
            
            <div class="container">
                <form method="POST"> 
                    <h3>Type de matériel: {{ MaterialTypeName.typeMaterial }}</h3>
                    <h3>Marque: {{ MarqueName.MarqueName }}</h3>

                    <div class="mb-3">
                        <label for="ModelName" class="form-label">Modèle matériel</label>
                        <input type="text" class="form-control" id="ModelName" name="ModelName" value="{{ model.modelname }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="SupportName" class="form-label">Support matériel</label>
                        <input type="text" class="form-control" id="SupportName" name="SupportName" value="{{ model.support_uri }}" required>
                    </div>
                    <button type="submit" class="form-control btn btn-success">Modifier Modèle</button>

                </form>
            </div>  
        </div>
    </div>
</div>


{% endblock %}