{% extends 'base.html' %}
{% block title %} Tableau de bord-Modifier Marque {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12  my-3">
            <div class="text-center">
                <h2>Modifier Marque</h2>
                <p>Bienvenue, {{ name }}, sur la modification de la marque. <a class="mx-3 btn btn-primary" href="{{ url_for('admin.logout') }}"">Déconnecter</a></p>
                <p><a href="{{ url_for('marques.manage_Marques') }}">Retour à la page gestion des marques</a> </p>
            </div>
            
           <form method="POST">
                <div class="mb-3">
                    <label for="MarqueName" class="form-label">Nom de la Marque</label>
                    <input type="text" class="form-control" id="MarqueName" name="MarqueName" value="{{ Marque.MarqueName }}" required>
                </div>
                <div class="mb-3">
                    <input type="submit" class="form-control btn btn-success mt-3" value="Mettre à jour">
                </div>
            </form>
                
        </div>
    </div>
</div>
{% endblock %}