{% extends 'base.html' %}
{% block title %} Tableau de bord - Mise à jour Material {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12  my-3">
            <div class="text-center">
                <h2>Mise à jour Material</h2>
                <p>Bienvenue, {{ name }}, sur la page de mise à jour Material. <a class="mx-3 btn btn-primary" href="{{ url_for('admin.logout') }}"">Déconnecter</a></p>
                <p><a href="{{ url_for('dashbord.dashbord_page') }}">Retour au Tableau de bord</a> </p>
            </div>
            
            <div class="container">
                <form method="POST"> 
                    
                    <div class="mb-3">
                        <label for="ModelId" class="form-label">Choisir un modèle</label>
                        <select class="form-control" id="ModelId" name="ModelId">
                        <option value="-1" disabled {% if not submitted %} selected {% endif %}>Choisir un Modèle</option>
                        {% for model in models %}
                            <option value="{{ model.id }}" {% if selected_Model == model.id %} selected {% endif %}>{{ model.modelname }}</option>         
                        {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="hidden" name="TypeMaterialName1" value="{{ selected_TypeMaterial }}">
                        <label for="UserId" class="form-label">Choisir l'utilisateur</label>
                        <select class="form-control" id="UserId" name="UserId">
                        <option value="-1" disabled {% if not submitted %} selected {% endif %}>Choisir un utilisateur</option>
                        {% for utilisateur in utilisateurs %}
                            <option value="{{ utilisateur.id }}" {% if selected_User == utilisateur.id %} selected {% endif %}>{{ utilisateur.nomUtilisateur }}</option>         
                        {% endfor %}
                        </select>
                    </div>
             
                    <div class="mb-3">
                        <label for="ort" class="form-label">Numéro invantaire</label>
                        <input type="text" class="form-control" id="ort" name="ort" required value="{{ material.inventaire_number }}">
                    </div>
                    <div class="mb-3">
                        <label for="sn" class="form-label">Numéro de Série</label>
                        <input type="text" class="form-control" id="sn" name="sn" required value="{{ material.serial_number }}">
                    </div>
                    <button type="submit" class="form-control btn btn-success">Mettre à jour Matérial</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} 
